
@CHARSET "ISO-8859-1";
* {
	margin:0; padding:0;
}
#topo{
		width:100%;
		height:150px;
		background-image:url(imagens/fundo_topo.png); background-repeat:repeat-x;
	}
#topoMeio{
	width:900px;
	height:150px;
	margin:0 auto;
	text-align:left;
	
}
#banner {
	with:650px;
	height:15opx;
	float:left;
}
#login {
	width:250px;
	height:75px;
	float:right;
	padding-top:30px;
	
}
#menu {
	width:100%;
	height:30px;
	background-image:url(imagens/fundo_menu.png); background-repeat:repeat-x;

}

#menuBotao {
	
width:900px;
	
height:30px;
	
margin:0 auto;

}

#menuBotao ul {
	
list-style:none;
	
height:15px;
	
padding-bottom:15px;
	
text-align:center;	

}
#menuBotao li a {
	
float:left;
	
height:30px;
	
padding:0px 25px;
	
line-height:30px;
	
text-decoration:none;
	
text-align:center;
	
color:#CCC;

}

#menuBotao li a:hover{
	
background:#CCC;
	
color:#FFF;

}


#fundo {
	width:100%;
	height:761px;
	background-image:url(css/imagens/fundo.png); background-repeat:repeat-x;	
}
#conteudo {
	width:880px;
	height:800px;
	margin: 0 auto;
	padding:10px;
	background:#FFF;
}
#boxEsquerda {
	width:490px;
	height:741px;
	background:#F3F3F3;
	float:left;
	border: #C9C9C9 solid 1px;
	overflow:scroll;
}
#boxDireitaSuperior {
	width:370px;
	height:290px;
	background:#F3F3F3;
	float:right;
	padding-bottom:10px;
	border:#C9C9C9 solid  1px;
}
#boxDireitaInferior {
	width:370px;
	height:441px;
	background:#F3F3F3;
	border: #C9C9C9 solid 1px;
	float:right;
}
#rodape {
	width:100%;
	height:75px;
	background:#999;
}
#login form.login {
	text-align:left;
	display:block;
}
#login fieldset{
	border:none;
}
#login label, input {
	display:block;
	float:left;
}
#login label {
	text-align:right;
	width:35px;
	padding-right:20px;
	padding-bottom:20px;
}
span.login {
	float:right;
}