
@CHARSET "ISO-8859-1";
* {
	margin:0; padding:0; 
}
html, body{
	height:100%;
}
/*
#tudo{
	height:100%;
	width:100%;
	position:relative;
}
#fundo {
	width:100%;
	height:100%;
	margin: 0 auto;
	padding-bottom: 75px;
	

}
#conteudo {
	width:900px;
	margin: 0 auto;
	padding:10px;
	background:#FFF;
	min-height:100%;	
	padding-bottom: 75px;
}
#rodape {
	width:100%;
	height:75px;
	background:#999;
	position:absolute;
	bottom: 0;
	left:0;
	margin-top:75px;
}
*/
#tudo{
	width: 100%;
	position: relative;
	min-height: 100%;
}
#fundo{

}
#conteudo{
	width: 900px;
	padding-bottom: 75px;
	margin: 0 auto;
	position: relative;
}
#rodape{
	position: absolute;
	bottom: 0;
	width: 100%;
	background: #999;
}
	
#topo{
		width:100%;
		height:100px;
		background-image:url(imagens/fundo_topo.png); background-repeat:repeat-x;
		border: 0px;
}
#topoMeio{
	width:900px;
	height:100px;
	margin:0 auto;
	text-align:left;
}
     
#banner {
	with:650px;
	height:100px;
	float:left;
}
#login {
	width:250px;
	height:75px;
	float:right;
	
}
#menu {
	width:100%;
	height:80px;
	margin-top: 5px;
}

#menuBotao {
	
	width:900px;
	height:37px;
	margin:0 auto;
}
#grid {
	margin: 40px auto;
	padding-bottom: 200px;
}
#grid ul{
	list-style-type: none;
	
}
#funcionario {
	padding-left: 20%;
}
#grid li{
	-moz-box-shadow: 0px 1px 15px #ADADAD;
	-webkit-box-shadow:0px 1px 15px #ADADAD;
	box-shadow: 0px 1px 15px #ADADAD;
	-moz-border-radius:6px;
	-webkit-border-radius:6px;
	background: #EDF3F6;
	border-radius:6px;
	filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr='#edf3f6',endColorstr='#d3e1e8');
	background: -webkit-gradient(linear,left top,left bottom,from(#EDF3F6),to(#D3E1E8));
	background: -moz-linear-gradient(top,#EDF3F6,#D3E1E8);
	float: left;
	height: 200px;
	margin-right:20px;
	padding: 10px;
	width: 260px;
	
}
#menu .ui-menu, .ui-menu-list{
	background-image:url(imagens/fundo_menu.png)  !important;
	background-repeat: repeat !important; 
	background: scroll 50%;
	
}
#boxEsquerda {
	width:490px;
	height:100%;
	float:left;
	
}
#boxEsquerdaSucesso {
	width:490px;
	height:auto;
	float:left;
	margin: 40px auto;
	
}
#boxDireita {
	width:370px;
	height:100%;
	float:right;
	margin: 40px auto;
}

#boxDireitaSucesso {
	width:370px;
	height:741px;
	float:right;
	
}
#boxDireitaInferior {
	width:370px;
	height:auto;
	background:#F3F3F3;
	border: #C9C9C9 solid 1px;
	float:right;
}


